datasets/uniprot_sprot.fasta
datasets/tempCodeRunnerFile.py
datasets/features.csv.gz
datasets/phase2/train/y_train.csv.gz
datasets/phase2/test/y_test.csv.gz
datasets/tempCodeRunnerFile.py
datasets/basic_statictical/tempCodeRunnerFile.py
models/tempCodeRunnerFile.py
datasets/raw/
.venv/
.vscode/
__pycache__/
*/__pycache__/
*/*/__pycache__/