datasets/uniprot_sprot.fasta
datasets/0temp.tsv
datasets/tempCodeRunnerFile.py
datasets/features.csv
datasets/phase2/train/y_train.csv
datasets/phase2/test/y_test.csv
datasets/tempCodeRunnerFile.py
datasets/basic_statictical/tempCodeRunnerFile.py
.venv/
.vscode/
__pycache__/
*/__pycache__/
*/*/__pycache__/